  <h2>Appointments</h2>
<div class="row">
    {{#each appointment}}
  <div class="card bg-light m-3 col-lg-4" style="max-width: 20rem;">
    <div class="card-header">{{doctor.name}}<button id={{id}} class="btn-trash">🗑</button></div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="appointment-card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Appointment Date:</b> <span style="color:rgb(71, 75, 215)"> {{date}}</span></li>
        <li class="list-group-item"><b>Time:</b> <span style="color:rgb(71, 75, 215)"> {{time}}</span></li>
      </ul>
      </p>
    </div>
  </div>
    {{/each}}

  <br>

  <form class="appointment-form">
    <input type="date" class="date" name="date" min="2020-01-01">
    <input type="time" id="appt" name="time" value="08:00">
    <select class="form-control" id="doctor-dropdown" name="doctor" placeholder="Doctor">
      {{#each doctor}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>
    <button type="submit" id="create-btn" class="create btn btn-outline-success btn-sm">Create</button>
  </form>
  <br>

</div>

  <div id="calendar"></div>

  
  
<script src="/js/appointment.js"></script>