  <h2>Prescriptions</h2>
<div class="row">
    {{#each prescription}}
  <div class="prescription-card card bg-light m-3 col-lg-4" style="max-width: 18rem;">
    <div class="card-header">{{name}} <button id={{id}} class="btn-trash">🗑</button></div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recommended Dose: {{dose}}</li>
        <li class="list-group-item">Dosage Frequency: {{frequency}}</li>
        <li class="list-group-item">Prescribed by: {{doctor.name}}</li>
      </ul>
      </p>
    </div>
  </div>
    {{/each}}
  <form class="prescription-form">
    <input type="text" name="name" placeholder="Prescription Name" />
    <input type="text" name="dose" placeholder="Recommended Dose" />
    <input type="text" name="frequency" placeholder="Dosage Frequency" />
    <select class="form-control" name="doctor" placeholder="Doctor">
      {{#each doctor}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>
    <button type="submit" class="create btn btn-outline-success btn-sm">Create</button>
  </form>
</div>

<script src="/js/prescription.js"></script>